@{
  Layout ="_Layout";
}

<img class="splash" src='~/img/splash.jpg'/>
<br>
<p>@Html.ActionLink("Select a Stylist", "Index", "Stylist", null, new { @class = "btn btn-primary btn-primary:hover"})
@Html.ActionLink("Select a Client", "Index", "Client", null, new { @class = "btn btn-primary btn-primary:hover"})</p>
